<!DOCTYPE html>
<html>
  <head>
    <title>Reset Your Password</title>
  </head>
  <body>
    <p>Hi</p>

    <p>
      You're receiving this email because you requested a password reset for
      your account.
    </p>

    <p>Please click the following link to reset your password:</p>

    <a href="<%= linkReset %>">Reset Password</a>

    <p>If you didn't request a password reset, please ignore this email.</p>

    <p>Thanks,</p>
    <p>The Ipsum Team</p>
  </body>
</html>
